/* Default background for mobile (below 768px) */
body {
    font-family: Arial, sans-serif;
    background-image: url('../imgs/background.png');
    background-repeat: no-repeat;
    background-position: left top;
    background-size: cover;
   
}

/* Larger screen background (768px and up) */
@media (min-width: 768px) {
    body {
        background-image: url('../imgs/background-lg.png');
        background-position: left center;
        background-size: cover;
        
    }
}

.logo {
    width: 100px;
}
.fa-search{
    color: #484C52;
}
@media (min-width: 768px){
    .fa-search{
        font-size: 30px;
    }
}
.search-text .rate-text{
    color: #484C52;
}
.rate-icon{
 color: #FFD700;

}
@media (min-width: 768px){
    .rate-icon{
        color: #FFD700;
        font-size: 30px;
       } 
}

.menu-item p {
    font-weight: bold;
    color: #800020; 
    margin: 0;
}

.footer {
    background-color: #f8f9fa;
    padding: 10px 0;
    border-top: 1px solid #ddd;
}

.footer p {
    font-size: 0.9rem;
    margin: 0;
}
.waiter-btn{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer .table-number {
    width: 40px;
    height: 40px;
    background-color: #800020; 
    color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    font-weight: bold;
}

.menu-item img {
    height: 150px;
    object-fit: cover;
}
.footer-text{
    color: #800020;
font-weight: bold;
}

@media (min-width: 768px) {
    .menu-item img {
        height: 200px;
    }
}
